.menu-intro {
  max-width: 20rem;
  margin: 0 auto 0 auto;
  text-align: center;
}

.drinks-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  justify-items: center;
  grid-gap: 1rem;
  margin: 4rem 0;
}

.order-detail {
  margin: 2rem auto 6rem auto;
  padding: 1rem 2rem;
  max-width: 20rem;
  text-align: center;
  background-color: #ea946f;
  border-radius: 5px;
  box-shadow: 0 0 3px #444;
}


/* Gallery */
.gallery {
  min-height: 100vh;
  color: white;
  background-image: url("./img/gallery.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.gallery__content {
  height: 100%;
  padding: 2rem 3rem;
  margin: 3rem 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
}

.gallery__cols {
  display: flex;
  flex-direction: column;
}

.gallery__col {
  flex: 1;
}

@media (min-width: 768px) {
  .gallery__cols {
    flex-direction: row;
    gap: 2rem;
  }
}
